
.cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0.75rem 1rem;
  /* border-bottom: 1px solid var(--color-border); */
  color: var(--color-text-secondary);
  font-size: var(--text-sm);
  vertical-align: middle;
}
  