
.column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0.75rem 1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-text);
    font-size: var(--text-sm);

}
