
.title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: var(--color-text);
    background-color: var(--color-bg-subtle);
    min-height: 42px;
    padding: 0 1rem;
    border-radius: 8px;
    margin: 0;
}